# ST Microelectronics STM32F4 MCU line

# Copyright (c) 2016 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

# Kconfig symbols common to STM32F4 series

if SOC_SERIES_STM32F4X

source "$(BOARD_DIR)/Kconfig.defconfig.stm32f4*"
source "$(BOARD_DIR)/common/Kconfig.defconfig.series"

config SOC_SERIES
	default "stm32f4"

if GPIO_STM32

# GPIO ports A, B and C are set in ../common/Kconfig.defconfig.series

config GPIO_STM32_PORTD
    bool
	default y

config GPIO_STM32_PORTE
    bool
	default y

config GPIO_STM32_PORTH
    bool
	default y

endif # GPIO_STM32

config I2C_STM32_V1
    bool
	default y
	depends on I2C_STM32

config DMA_STM32_V1
    bool
	default y
	depends on DMA_STM32

endif # SOC_SERIES_STM32F4X
